.tabela{
    background-color: white;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.tabela .lista{
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    border: 10px solid teal;
    border-style: inset;
    padding: 50px 0px 50px 0px;
    margin-block-end: 188px;
    padding-left: 30%; 
}

.tabela .adicionarItem{
    margin-top: 50px;
    margin-inline: 10px;
    margin-left: 40%;
    width: 200px;
}

.tabela .lista .quantificador{
    margin-left: 10px;
    margin-right: 10px;
}

.tabela .lista .input{
    margin-left: 10px;
    width: 60px;
}

.tabela .lista .preco{
    margin-left: 10px;
    width: 60px;
}

.tabela .lista .checkbox{
    margin-left: 20px;
    margin-right: 10px;
}

/* 
#item{
    color: #ffffff;
    font-style: normal;
    font-weight: 10px; 
    background-color: tomato;
    
}
.item{
    border: 1px solid black ;
    border-style: ridge;
    margin: auto;
}

.button-quantidade{
    color: black;
    background-color: white;
    padding: 0px 4px 4px 4px; 
    margin-left: 15px;
}

.button-quantidade:hover{
    color: white;
    background-color: black; 
} */