.tabela{
    background-color: white;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}
/* 
#item{
    color: #ffffff;
    font-style: normal;
    font-weight: 10px; 
    background-color: tomato;
    
}
.item{
    border: 1px solid black ;
    border-style: ridge;
    margin: auto;
}

.button-quantidade{
    color: black;
    background-color: white;
    padding: 0px 4px 4px 4px; 
    margin-left: 15px;
}

.button-quantidade:hover{
    color: white;
    background-color: black; 
} */